* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  main outer grid layout  */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/*  sidebar  */

