* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --txt-white: #f9f9f9;
    
    --sidebar-bg: #4d89ce;
}

ul {
    list-style-type: none;
}

/*  main outer grid layout  */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/*  sidebar  */

.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--txt-white);
    font-weight: bold;

    display: grid;
    grid-template-rows: 1fr 3fr 6fr;

    padding: 0 2rem;
}

.dashboard-heading {
    font-size: 1.5rem;
}

.sidebar li {
    padding: 0.3rem 0;

    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.sidebar svg {
    width: 16px;
    height: 16px; 
    fill: white;
}

.sidebar > .dashboard-heading svg {
    width: 25px;
    height: 25px;
}

.dashboard-heading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

