* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --txt-white: #f9f9f9;
    --txt-lightgray: #797979;
    
    --sidebar-bg: #4d89ce;
    --main-content-bg: #ebebeb;
}

ul {
    list-style-type: none;  
}

/*  main page grid layout  */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

/*  sidebar  */

.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--txt-white);
    font-weight: bold;

    display: grid;
    grid-template-rows: 1fr 3fr 6fr;

    padding: 0 1.5rem;
}

.dashboard-heading {
    font-size: 1.5rem;
}

.sidebar li {
    padding: 0.3rem 0.3rem;

    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.sidebar svg {
    width: 16px;
    height: 16px; 
    fill: white;
}

.sidebar > .dashboard-heading svg {
    width: 25px;
    height: 25px;
}

.dashboard-heading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

/*  main content */

.main-content {
    background-color: var(--main-content-bg);
    padding: 0rem 1.5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.announcements {
    grid-column: 2 / -1;
}

.trending {
    grid-column: 2 / -1;
}

.projects > p {
    padding-bottom: 0.7rem;
    font-weight: bold;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.project-card {
    padding: 2rem 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 
        inset 0.4rem 0 orange,
        0 0.3rem 0.5rem rgb(175, 175, 175);
}

.project-card span {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

.project-card p {
    font-size: 0.8rem;
    color: var(--txt-lightgray);
}

.project-actions svg {
    width: 20px;
    height: 20px;
}

.project-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.announcements span {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
}

.announcements p {
    color: var(--txt-lightgray);
    font-size: 0.7rem;
    margin: 0 2rem;
    padding: 1rem 0.5rem;
}

.announcements-container > p {
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0 0.3rem 0.5rem rgb(175, 175, 175);
}

.announcements p:nth-child(2) {
    border-top: 1px solid var(--txt-lightgray);
    border-bottom: 1px solid var(--txt-lightgray);
}

.trending .grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
    padding: 0 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    box-shadow: 0 0.3rem 0.5rem rgb(175, 175, 175);
}

.trending .grid-container > div {
    padding-bottom: 1rem;
    color: var(--txt-lightgray);
    font-size: 0.8rem;
}

.trending .grid-container span {
    display: block;
    color: black;
}

.trending p {
    font-weight: bold;
    margin-bottom: 0.7rem;
    margin-top: 2.9rem;
}

.trending svg {
    width: 35px;
    height: 35px;
}

.trending-row {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

/* header */

.header {
    height: 150px;
}